@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: 'Tiny5', sans-serif;
}
header{
    background-color:red;
    color: white    ;
    width: 100%;
    border-style: solid;
}
header h2{
    font-size: 30px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.nav{
    color: red;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 0 15px;
    text-transform: capitalize;
}
